@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

html,body {
  margin: 0;
  padding: 0;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
}

#logo img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

h2 {
  font-family: 'Nerko One', cursive;
  font-size: 3rem;
  margin: 0;
  margin-top: 1rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

section {
  padding-left: 2rem;
}

.favicon {
  display: inline-block;
  padding: 0 0.25rem;
  vertical-align: middle;
  height: 1.2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: block;
  width: 18rem;
  height: 6rem;

  border-radius: 5px;
  box-shadow: 0 0 3px #000000;

  padding-left: 1rem;
  padding-top: 0.5rem;

  overflow: hidden;
}

.card-title {
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
}

.card-links {
  padding-left: 1rem;
}

.member {
  width: 12rem;
}
.member a {
  text-decoration: none;
  color: inherit;
  font-family: 'Nerko One', cursive;
}

.member-icon {
  height: 5rem;
  display: block;
  margin: 0 auto;

  border: 1px solid #FE019A;
  border-radius: 100%;
  margin-top: 4px;
  margin-bottom: 4px;

  transition: all .1s ease-out;
}
.member:hover .member-icon {
  border-width: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.member-name {
  text-align: center;
}

.awards li {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
