@import url('./fonts.css');

body {
  margin: 0 auto;
  padding: 0.5rem 1.5rem 2rem;
  max-width: 1000px;
  font-family: 'Open Sans', sans-serif;
}

img.logo {
  display: block;
  width: 500px;
  margin: 1.2rem auto;
}

@media (max-width: 500px) {
  img.logo {
    width: 100%;
  }
}

h2 {
  margin: 1rem 0 0.5rem;
  font-family: 'Nerko One', cursive;
  font-size: 3rem;
}

p {
  margin: 0.5rem 0;
}

a {
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 0.25rem;
}

section {
  padding-left: 2rem;
}

img.favicon {
  display: inline-block;
  height: 1.2rem;
  padding-right: 0.3rem;
  vertical-align: middle;
}

section.flex {
  display: flex;
  margin: -0.5rem;
  flex-wrap: wrap;
}

section.members.flex {
  margin-left: -2rem; /* -(8rem - 5rem) / 2 + -0.5rem */
}

section.flex > div {
  margin: 0.5rem;
}

.member {
  width: 8rem;
}

.member > a {
  text-decoration: none;
  color: inherit;
  font-family: 'Nerko One', cursive;
}

.member-icon {
  display: flex;
  height: 5.625rem;
  width: 5.625rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.member-icon > img {
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  transition: all .1s ease-out;
  box-shadow: 0 0 3px #000000;
}

.member:hover .member-icon > img {
  height: 5.625rem;
  width: 5.625rem;
}

.member-name {
  text-align: center;
}

span.medal {
  font-size: 1.5rem;
  vertical-align: middle;
}

.card {
  display: block;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 3px #000000;
}

.card-title {
  font-weight: bold;
}

ul.card-links {
  padding-left: 1rem;
  margin-top: 0.5rem;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
